
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header {
    text-align: center;
    background-color: darksalmon;
    padding: 10px;
}

.input {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    margin-top: 10px;

    border-radius: 10px;
    background-color: cornflowerblue;
}

button {
    border-radius: 10px;
    padding: 7px;

    border: 0;
    background-color: violet;

}



.flexlist {


    display: flex;
    justify-content: space-around;
    align-items: center;



    border-radius: 10px;

    width: 70%;
    margin: 0 auto;
    margin-top: 30px;
    padding: 25px;
    background-color: beige;
}

.task {
    width: 60%;
    text-align: start;
}

li {
    list-style: none;

    padding: 5px;
   
    font-size: 17px;
    border-bottom: 1px solid black;
}


.elimina {
    display: flex;
    flex-direction: column;
  

    width: 30px;
 
   text-align: center;

}

i {
    padding: 5px;
    margin-top: 5px;

   border: 0.5px solid black;
   border-radius: 50%;
}